
.o_kanban_view.o_event_kanban_view .o_kanban_record {
  position: relative;
  padding: 0;
  display: -webkit-box; display: -webkit-flex; display: flex;
}

.o_kanban_view.o_event_kanban_view .o_kanban_record .o_event_left {
  flex: 1 1 25%;
  text-align: center;
  color: white;
  background-color: #00A09D;
  padding: 8px;
}

.o_kanban_view.o_event_kanban_view .o_kanban_record .o_event_left .o_day {
  font-size: 26px;
}

.o_kanban_view.o_event_kanban_view .o_kanban_record .o_event_right {
  flex: 1 1 75%;
  padding: 8px;
  margin-left: 8px;
}

