
@media (max-width: 767.98px) {
  #o_employee_right .o_org_chart_title {
    font-size: 20px;
    padding: 5px 0;
    border-bottom: 1px solid #8f8f8f;
  }
}

@media (min-width: 768px) {
  #o_employee_container {
    display: -webkit-box; display: -webkit-flex; display: flex;
    width: 100%;
  }
  #o_employee_main {
    flex: 1 1 60%;
  }
  #o_employee_right {
    flex: 0 1 35%;
    margin-left: 2%;
    padding-left: 2%;
    border-left: 1px solid #8f8f8f;
  }
  #o_employee_right .o_org_chart_title {
    color: #6c757d;
  }
}

@media (min-width: 992px) {
  #o_employee_right {
    flex: 0 1 33%;
  }
}

@media (min-width: 1200px) {
  #o_employee_right {
    flex: 0 1 30%;
  }
}

#o_employee_right .o_field_widget, #o_employee_right .o_org_chart_group_up, #o_employee_right .o_org_chart_group_down {
  position: relative;
  width: 100%;
}

#o_employee_right .o_org_chart_group_up:before {
  content: '';
  background-color: white;
  border: 0px solid #bfbfbf;
  border-left-width: 1px;
  height: calc(100% + 23px);
  position: absolute;
  top: 9.6px;
  left: 22.5px;
  bottom: auto;
  right: auto;
}

#o_employee_right .o_org_chart_group_up .o_org_chart_entry:last-of-type:before {
  content: '';
  background-color: white;
  border: 0px solid #bfbfbf;
  border-width: 0 0 1px 1px;
  width: 11px;
  height: 35px;
  position: absolute;
  top: 100%;
  left: 22.5px;
  bottom: auto;
  right: auto;
}

#o_employee_right .o_org_chart_group_up + .o_org_chart_entry_self {
  margin-left: 32.2px;
}

#o_employee_right .o_org_chart_group_up + .o_org_chart_entry_self + .o_org_chart_group_down {
  margin-left: 64.4px;
}

#o_employee_right .o_org_chart_group_down {
  margin-left: 32.2px;
  padding-right: 32.2px;
}

#o_employee_right .o_org_chart_group_down:before {
  content: '';
  background-color: white;
  border: 0px solid #bfbfbf;
  border-left-width: 1px;
  height: 100%;
  position: absolute;
  top: -6px;
  left: -11px;
  bottom: auto;
  right: auto;
}

#o_employee_right .o_org_chart_group_down .o_org_chart_entry:before {
  content: '';
  background-color: white;
  border: 0px solid #bfbfbf;
  border-top-width: 1px;
  width: 32.2px;
  height: 0;
  position: absolute;
  top: 23px;
  left: -11px;
  bottom: auto;
  right: auto;
}

#o_employee_right .o_org_chart_group_down .o_org_chart_entry:last-of-type:before {
  height: 50%;
}

#o_employee_right .o_org_chart_group_down .o_org_chart_entry.o_org_chart_more {
  margin-top: 6px;
}

#o_employee_right .o_org_chart_group_down .o_org_chart_entry.o_org_chart_more:before {
  top: 15px;
}

#o_employee_right .o_org_chart_entry {
  margin-bottom: 6px;
  overflow: visible;
  margin-top: 0;
}

#o_employee_right .o_org_chart_entry, #o_employee_right .o_org_chart_entry .o_media_left, #o_employee_right .o_org_chart_entry .media-body {
  position: relative;
}

#o_employee_right .o_org_chart_entry .o_media_left {
  padding-right: 10px;
}

#o_employee_right .o_org_chart_entry .media-body {
  vertical-align: middle;
}

#o_employee_right .o_org_chart_entry .media-body .badge {
  float: right;
  cursor: pointer;
  margin-right: 5px;
  color: #6c757d;
  background: white;
  border: 1px solid #6c757d;
}

#o_employee_right .o_org_chart_entry .media-body .badge:hover {
  color: #00A09D;
  border-color: #00A09D;
}

#o_employee_right .o_org_chart_entry .media-body .badge:focus {
  outline: none;
}

#o_employee_right .o_org_chart_entry .media-body strong {
  display: block;
  line-height: 1.2;
  font-size: 11px;
  color: #939ba2;
}

#o_employee_right .o_org_chart_entry .o_media_object {
  display: block;
  width: 36.8px;
  height: 36.8px;
  margin: 4.6px;
  box-shadow: 0 0 0 1px #cccccc;
  background-size: cover;
  background-position: center center;
}

#o_employee_right .o_org_chart_entry .o_media_object.card {
  height: 20px;
  box-shadow: none;
  border-color: transparent;
  padding: 0;
  position: relative;
  color: #666666;
}

#o_employee_right .o_org_chart_entry .o_media_object.card .o_org_chart_show_more {
  line-height: 13px;
}

#o_employee_right .o_org_chart_entry .o_media_object.card:hover {
  border-color: #bfbfbf;
  color: #00A09D;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_manager .o_media_left, #o_employee_right .o_org_chart_entry.o_org_chart_entry_sub .o_media_left {
  padding-right: 0;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_manager .media-body > a, #o_employee_right .o_org_chart_entry.o_org_chart_entry_sub .media-body > a {
  padding-left: 10px;
  max-width: 100%;
  display: block;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_manager .media-body > a .o_media_heading, #o_employee_right .o_org_chart_entry.o_org_chart_entry_sub .media-body > a .o_media_heading {
  color: #78828a;
  font-size: 13px;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_manager:hover .o_media_object, #o_employee_right .o_org_chart_entry.o_org_chart_entry_sub:hover .o_media_object {
  box-shadow: 0 0 0 2px rgba(0, 160, 157, 0.6);
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_manager:hover .media-body > a .o_media_heading, #o_employee_right .o_org_chart_entry.o_org_chart_entry_sub:hover .media-body > a .o_media_heading {
  color: #00A09D;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_manager:hover .media-body > a strong, #o_employee_right .o_org_chart_entry.o_org_chart_entry_sub:hover .media-body > a strong {
  color: #78828a;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_self:not(:first-child) {
  margin-top: 9px;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_self strong {
  color: #adb5bd;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_self .o_media_object {
  width: 46px;
  height: 46px;
  margin: 0;
  border: 2px solid #00A09D;
  box-shadow: inset 0 0 0 2px white;
}

#o_employee_right .o_org_chart_entry.o_org_chart_entry_self .media-body {
  opacity: 1;
}

.o_org_chart_popup.popover {
  max-width: 400px;
}

.o_org_chart_popup.popover .popover-header {
  height: 47px;
  line-height: 33px;
  padding-right: 50px;
}

.o_org_chart_popup.popover .popover-header > a {
  position: absolute;
  top: auto;
  left: auto;
  bottom: auto;
  right: 14px;
}

.o_org_chart_popup.popover .popover-header span {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  float: left;
  box-shadow: 0 1px 1px;
}

.o_org_chart_popup.popover .table {
  margin-bottom: 0;
}

