
.o_kanban_view .oe_kanban_mass_mailing .o_title {
  margin-bottom: 16px;
}

.o_kanban_view .oe_kanban_mass_mailing .o_kanban_primary_bottom {
  margin-top: 16px;
}

.o_kanban_view .oe_kanban_mass_mailing .oe_margin_top_8 {
  margin-top: 8px;
}

.o_kanban_view .oe_kanban_mass_mailing .oe_margin_bottom_8 {
  margin-bottom: 8px;
}

.o_white_body {
  background-color: white;
}

