
.o_form_view .o_form_sheet_bg.o_project_timesheet_app_bg {
  background-color: white;
}

.o_form_view .o_project_timesheet_app {
  background-image: url(/project_timesheet_synchro/static/src/scss/../img/smartphone.png);
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
  background-position: top center;
}

.o_form_view .o_project_timesheet_app iframe {
  margin-top: 53px;
  width: 330px;
  height: 582px;
}

.o_form_view .o_project_timesheet_app_links {
  display: -webkit-box; display: -webkit-flex; display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .o_form_view .o_project_timesheet_app_links {
    height: 700px;
  }
}

.o_form_view .o_project_timesheet_app_links .flex-container {
  width: 100%;
}

.o_form_view .o_project_timesheet_app_links h2 {
  margin-bottom: 2px;
}

.o_form_view .o_project_timesheet_app_bg .o_form_sheet {
  padding: 0px;
  border: none;
}

