
.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet {
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: column nowrap; flex-flow: column nowrap;
  padding: 0;
  background-color: #404040;
  background-image: url(/web/static/lib/pdfjs/web/images/texture.png);
  background-repeat: repeat;
  color: #FFF;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .o_web_client.o_fullscreen .o_form_view.o_workorder_tablet {
    font-size: 18px;
  }
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet h1, .o_web_client.o_fullscreen .o_form_view.o_workorder_tablet h2, .o_web_client.o_fullscreen .o_form_view.o_workorder_tablet h3, .o_web_client.o_fullscreen .o_form_view.o_workorder_tablet h4, .o_web_client.o_fullscreen .o_form_view.o_workorder_tablet h5, .o_web_client.o_fullscreen .o_form_view.o_workorder_tablet h6 {
  color: #FFF;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .btn {
  font-size: 1em;
  padding: 0.4em 1em;
  margin: 0 2px;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .btn.btn-secondary {
  color: #FFF;
  background-color: #404040;
  border: #404040;
  text-transform: capitalize;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .btn.o_workorder_icon_btn {
  padding: 0.4em;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .btn.o_workorder_icon_btn.o_workorder_icon_back {
  padding: 0.4em 0.8em;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .btn .o_workorder_btn_icon_small {
  font-size: 0.8em;
  margin-top: -1em;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .btn .o_workorder_btn_icon_small.float-right {
  margin-top: 0.5em;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_input {
  background-color: #404040;
  color: #FFF;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_field_widget {
  margin-bottom: 0;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_bar_content {
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: row nowrap; flex-flow: row nowrap;
  -webkit-box-flex: 1; -webkit-flex: 1 0 auto; flex: 1 0 auto;
  align-items: center;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_bar_content.o_workorder_bar_content_right {
  -webkit-box-pack: end; justify-content: flex-end;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .workorder_bar, .o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .workorder_actions {
  background-color: #333333;
  background-image: url(/web/static/lib/pdfjs/web/images/texture.png);
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .workorder_bar {
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: row wrap; flex-flow: row wrap;
  padding: 8px 16px;
  padding-left: 14px;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .workorder_actions {
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: row nowrap; flex-flow: row nowrap;
  padding: 8px 14px 16px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data {
  padding: 8px 16px 0;
  font-size: 0.9em;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data table.o_list_view {
  color: #666666;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .workorder_picture {
  margin: 5px 0;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .workorder_picture .o_field_image {
  float: left;
  position: relative;
  margin-bottom: 16px;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .workorder_picture .o_field_image img {
  height: 70px;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .workorder_picture .o_field_image .o_form_image_controls {
  height: 100%;
  background-color: transparent;
  cursor: zoom-in;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .workorder_picture .o_field_image .o_form_image_controls .o_clear_file_button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #00A09D;
  cursor: pointer;
  padding: 4px 8px;
  margin: 0;
  color: white;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .workorder_picture .o_field_image .o_form_image_controls .o_form_binary_progress {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  text-align: center;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .workorder_picture .o_field_image .o_hidden_input_file {
  display: none;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .workorder_picture #workorder_picture_button {
  margin-top: 0;
  position: absolute;
  top: 33%;
  left: 106%;
  bottom: auto;
  right: auto;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .o_workorder_form {
  padding-bottom: 8px;
  justify-content: space-between;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .o_workorder_form > div {
  -webkit-box-flex: 1; -webkit-flex: 1 0 auto; flex: 1 0 auto;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .o_workorder_form .o_workorder_field > div {
  display: -webkit-inline-box; display: -webkit-inline-flex; display: inline-flex;
  align-items: baseline;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .o_workorder_form .o_workorder_field .o_form_label {
  opacity: 0.7;
  display: inline-block;
  font-weight: bold;
}

.o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .o_workorder_form a, .o_web_client.o_fullscreen .o_form_view.o_workorder_tablet .o_workorder_data .o_workorder_form a::first-line {
  font-weight: bold;
  color: #FFF;
}

.o_web_client.o_fullscreen .o_view_controller {
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: column nowrap; flex-flow: column nowrap;
}

.o_web_client.o_fullscreen .workorder_pdf {
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-box-flex: 1; -webkit-flex: 1 0 auto; flex: 1 0 auto;
}

.o_web_client.o_fullscreen .workorder_pdf div.o_field_pdfviewer {
  margin: 0;
  height: auto;
  position: relative;
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-box-flex: 1; -webkit-flex: 1 0 auto; flex: 1 0 auto;
}

.o_web_client.o_fullscreen .workorder_pdf div.o_field_pdfviewer iframe {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.o_web_client.o_fullscreen .workorder_menu .btn {
  margin-bottom: 16px;
  padding: 1em;
  font-size: 2em;
  text-transform: uppercase;
}

