
.o_tooltip_parent {
  position: relative !important;
  opacity: 0.999;
}

.o_tooltip {
  box-sizing: content-box;
  /*rtl:begin:ignore*/
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  /*rtl:end:ignore*/
  opacity: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #875A7B;
  border-radius: 50%;
  padding: 0;
  z-index: 1070;
  background-color: #875A7B;
  box-shadow: 0 2px 2px 1px rgba(150, 150, 150, 0.3);
  transition: width 133ms ease 0ms, height 133ms ease 0ms, margin 133ms ease 0ms, border-radius 133ms ease 66ms;
}

.o_tooltip.o_animated {
  animation: move-bottom-top 500ms ease-in 0ms infinite alternate;
}

.o_tooltip.o_animated.right, .o_tooltip.o_animated.left {
  animation-name: move-left-right;
}

.o_tooltip::before {
  content: "";
  border: 0 solid transparent;
  transition: all 100ms ease 100ms;
}

.o_tooltip.right::before {
  position: absolute;
  top: 2px;
  left: -8px;
  bottom: auto;
  right: auto;
  border-width: 10px 10px 10px 0;
  border-right-color: #875A7B;
}

.o_tooltip.top::before {
  /*rtl:begin:ignore*/
  position: absolute;
  top: auto;
  left: 2px;
  bottom: -8px;
  right: auto;
  /*rtl:end:ignore*/
  border-width: 10px 10px 0 10px;
  border-top-color: #875A7B;
}

.o_tooltip.left::before {
  position: absolute;
  top: 2px;
  left: auto;
  bottom: auto;
  right: -8px;
  border-width: 10px 0 10px 10px;
  border-left-color: #875A7B;
}

.o_tooltip.bottom::before {
  /*rtl:begin:ignore*/
  position: absolute;
  top: -8px;
  left: 2px;
  bottom: auto;
  right: auto;
  /*rtl:end:ignore*/
  border-width: 0 10px 10px 10px;
  border-bottom-color: #875A7B;
}

.o_tooltip::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-color: #875A7B;
  border-radius: 50%;
  transition: margin 133ms ease 0ms, border-radius 200ms linear 0s;
  background: radial-gradient(#9b698e, #875A7B);
}

.o_tooltip > .o_tooltip_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: -2px;
  z-index: -1;
}

.o_tooltip > .o_tooltip_content {
  overflow: hidden;
  padding: 6px 12px;
  visibility: hidden;
  transition: visibility 0s ease 0s;
  color: black;
  line-height: 1.5;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
}

.o_tooltip > .o_tooltip_content .o_skip_tour {
  display: inline-block;
  margin-top: 4px;
  cursor: pointer;
  color: gray;
}

.o_tooltip > .o_tooltip_content .o_skip_tour:hover {
  color: #4d4d4d;
}

.o_tooltip > .o_tooltip_content > p:last-child {
  margin-bottom: 0;
}

.o_tooltip.active {
  border-radius: 0;
  background-color: white;
  transition: width 225ms ease 75ms, height 225ms ease 75ms, margin 225ms ease 75ms, border-radius 150ms ease 0ms, background-color 300ms ease 0ms;
}

.o_tooltip.active::before {
  transition: all 150ms ease 0ms;
}

.o_tooltip.active::after {
  border: 0 solid transparent;
  border-radius: 0;
}

.o_tooltip.active > .o_tooltip_overlay {
  display: block;
}

.o_tooltip.active > .o_tooltip_content {
  direction: ltr;
  visibility: visible;
  transition: visibility 0s ease 300ms;
}

.o_tooltip.active.right::before {
  left: -10px;
  border-right-color: #875A7B;
}

.o_tooltip.active.right::after {
  position: absolute;
  top: 2px;
  left: -6px;
  bottom: auto;
  right: auto;
  border-width: 10px 10px 10px 0;
  border-right-color: white;
  transition: border-right-color 300ms ease 0ms;
}

.o_tooltip.active.top::before {
  bottom: -10px;
  border-top-color: #875A7B;
}

.o_tooltip.active.top::after {
  /*rtl:begin:ignore*/
  position: absolute;
  top: auto;
  left: 2px;
  bottom: -6px;
  right: auto;
  /*rtl:end:ignore*/
  border-width: 10px 10px 0 10px;
  border-top-color: white;
  transition: border-top-color 300ms ease 0ms;
}

.o_tooltip.active.left::before {
  right: -10px;
  border-left-color: #875A7B;
}

.o_tooltip.active.left::after {
  position: absolute;
  top: 2px;
  left: auto;
  bottom: auto;
  right: -6px;
  border-width: 10px 0 10px 10px;
  border-left-color: white;
  transition: border-left-color 300ms ease 0ms;
}

.o_tooltip.active.bottom::before {
  top: -10px;
  border-bottom-color: #875A7B;
}

.o_tooltip.active.bottom::after {
  /*rtl:begin:ignore*/
  position: absolute;
  top: -6px;
  left: 2px;
  bottom: auto;
  right: auto;
  /*rtl:end:ignore*/
  border-width: 0 10px 10px 10px;
  border-bottom-color: white;
  transition: border-bottom-color 300ms ease 0ms;
}

.o_tooltip.inverse.left::before, .o_tooltip.inverse.left.active::after, .o_tooltip.inverse.right::before, .o_tooltip.inverse.right.active::after {
  top: auto;
  bottom: 2px;
}

.o_tooltip.inverse.top::before, .o_tooltip.inverse.top.active::after, .o_tooltip.inverse.bottom::before, .o_tooltip.inverse.bottom.active::after {
  left: auto/*rtl:ignore*/;
  right: 2px/*rtl:ignore*/;
}

@media print {
  .o_tooltip {
    display: none;
  }
}

