
#web_editor-top-edit {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  position: fixed;
  height: 46px;
  z-index: 1041;
  background-color: transparent;
  transition: background-color 400ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  font-family: Roboto, "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#web_editor-top-edit form.navbar-form {
  height: 100%;
  z-index: 1060;
  margin: 0;
  padding: 0;
  position: absolute;
  top: auto;
  left: auto;
  bottom: auto;
  right: -210px;
  transition: right 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  border-left: 1px solid #33363e;
  background-color: inherit;
}

#web_editor-top-edit form.navbar-form .btn-group {
  height: 100%;
}

#web_editor-top-edit form.navbar-form .btn {
  height: 100%;
  margin: 0;
  padding: 10px;
  line-height: 1.2;
  font-size: 13px;
  font-family: Roboto, "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: all 0.3s ease 0s;
  border: none;
  border-radius: 0;
}

#web_editor-top-edit form.navbar-form .btn .fa {
  margin-right: 7.5px;
}

#web_editor-top-edit form.navbar-form .btn .fa.fa-times {
  color: #e6586c;
}

#web_editor-top-edit form.navbar-form .btn.btn-primary {
  color: #fff;
  background-color: #875A7B;
  border-color: #875A7B;
}

#web_editor-top-edit form.navbar-form .btn.btn-primary:hover {
  color: #fff;
  background-color: #704b66;
  border-color: #68465f;
}

#web_editor-top-edit form.navbar-form .btn.btn-primary:focus, #web_editor-top-edit form.navbar-form .btn.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(135, 90, 123, 0.5);
}

#web_editor-top-edit form.navbar-form .btn.btn-primary.disabled, #web_editor-top-edit form.navbar-form .btn.btn-primary:disabled {
  color: #fff;
  background-color: #875A7B;
  border-color: #875A7B;
}

#web_editor-top-edit form.navbar-form .btn.btn-primary:not(:disabled):not(.disabled):active, #web_editor-top-edit form.navbar-form .btn.btn-primary:not(:disabled):not(.disabled).active,
.show > #web_editor-top-edit form.navbar-form .btn.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #68465f;
  border-color: #614158;
}

#web_editor-top-edit form.navbar-form .btn.btn-primary:not(:disabled):not(.disabled):active:focus, #web_editor-top-edit form.navbar-form .btn.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > #web_editor-top-edit form.navbar-form .btn.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(135, 90, 123, 0.5);
}

#web_editor-top-edit form.navbar-form .btn.btn-secondary {
  color: #fff;
  background-color: #2c2c36;
  border-color: #2c2c36;
}

#web_editor-top-edit form.navbar-form .btn.btn-secondary:hover {
  color: #fff;
  background-color: #1b1b21;
  border-color: #15151a;
}

#web_editor-top-edit form.navbar-form .btn.btn-secondary:focus, #web_editor-top-edit form.navbar-form .btn.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(44, 44, 54, 0.5);
}

#web_editor-top-edit form.navbar-form .btn.btn-secondary.disabled, #web_editor-top-edit form.navbar-form .btn.btn-secondary:disabled {
  color: #fff;
  background-color: #2c2c36;
  border-color: #2c2c36;
}

#web_editor-top-edit form.navbar-form .btn.btn-secondary:not(:disabled):not(.disabled):active, #web_editor-top-edit form.navbar-form .btn.btn-secondary:not(:disabled):not(.disabled).active,
.show > #web_editor-top-edit form.navbar-form .btn.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #15151a;
  border-color: #0f0f13;
}

#web_editor-top-edit form.navbar-form .btn.btn-secondary:not(:disabled):not(.disabled):active:focus, #web_editor-top-edit form.navbar-form .btn.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > #web_editor-top-edit form.navbar-form .btn.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(44, 44, 54, 0.5);
}

#web_editor-top-edit form.navbar-form .btn:focus, #web_editor-top-edit form.navbar-form .btn:active, #web_editor-top-edit form.navbar-form .btn:focus:active {
  outline: none;
}

#web_editor-top-edit form.navbar-form .dropdown-menu {
  left: auto;
  right: 0;
}

.oe_translate_examples li {
  margin: 10px;
  padding: 4px;
}

html[lang] > body.editor_enable [data-oe-translation-state] {
  background: rgba(255, 255, 90, 0.5) !important;
}

html[lang] > body.editor_enable [data-oe-translation-state][data-oe-translation-state="translated"] {
  background: rgba(120, 215, 110, 0.5) !important;
}

html[lang] > body.editor_enable [data-oe-translation-state].o_dirty {
  background: rgba(120, 215, 110, 0.25) !important;
}

#oe_snippets {
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: column nowrap; flex-flow: column nowrap;
  position: absolute;
  top: 0;
  left: -210px;
  bottom: 0;
  right: auto;
  position: fixed;
  width: 210px;
  z-index: 1041;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-right: 1px solid #33363e;
  transition: left 400ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  background-image: linear-gradient(45deg, #50545d, #383b42);
  box-shadow: 0px 10px 10px -10px black inset;
}

#oe_snippets .btn:not(.o_btn_preview) {
  border-radius: 0;
  font-weight: normal;
  text-transform: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
}

#oe_snippets .btn:not(.o_btn_preview).btn-primary {
  color: #fff;
  background-color: #00A09D;
  border-color: #00A09D;
}

#oe_snippets .btn:not(.o_btn_preview).btn-primary:hover {
  color: #fff;
  background-color: #007a77;
  border-color: #006d6b;
}

#oe_snippets .btn:not(.o_btn_preview).btn-primary:focus, #oe_snippets .btn:not(.o_btn_preview).btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 160, 157, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-primary.disabled, #oe_snippets .btn:not(.o_btn_preview).btn-primary:disabled {
  color: #fff;
  background-color: #00A09D;
  border-color: #00A09D;
}

#oe_snippets .btn:not(.o_btn_preview).btn-primary:not(:disabled):not(.disabled):active, #oe_snippets .btn:not(.o_btn_preview).btn-primary:not(:disabled):not(.disabled).active,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #006d6b;
  border-color: #00605e;
}

#oe_snippets .btn:not(.o_btn_preview).btn-primary:not(:disabled):not(.disabled):active:focus, #oe_snippets .btn:not(.o_btn_preview).btn-primary:not(:disabled):not(.disabled).active:focus,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 160, 157, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-secondary {
  color: #212529;
  background-color: #fcfcfc;
  border-color: #fcfcfc;
  color: #00A09D;
}

#oe_snippets .btn:not(.o_btn_preview).btn-secondary:hover {
  color: #212529;
  background-color: #e9e9e9;
  border-color: #e3e2e2;
}

#oe_snippets .btn:not(.o_btn_preview).btn-secondary:focus, #oe_snippets .btn:not(.o_btn_preview).btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 252, 252, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-secondary.disabled, #oe_snippets .btn:not(.o_btn_preview).btn-secondary:disabled {
  color: #212529;
  background-color: #fcfcfc;
  border-color: #fcfcfc;
}

#oe_snippets .btn:not(.o_btn_preview).btn-secondary:not(:disabled):not(.disabled):active, #oe_snippets .btn:not(.o_btn_preview).btn-secondary:not(:disabled):not(.disabled).active,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-secondary.dropdown-toggle {
  color: #212529;
  background-color: #e3e2e2;
  border-color: gainsboro;
}

#oe_snippets .btn:not(.o_btn_preview).btn-secondary:not(:disabled):not(.disabled):active:focus, #oe_snippets .btn:not(.o_btn_preview).btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 252, 252, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-link {
  color: #212529;
  background-color: #fcfcfc;
  border-color: #fcfcfc;
  color: #00A09D;
}

#oe_snippets .btn:not(.o_btn_preview).btn-link:hover {
  color: #212529;
  background-color: #e9e9e9;
  border-color: #e3e2e2;
}

#oe_snippets .btn:not(.o_btn_preview).btn-link:focus, #oe_snippets .btn:not(.o_btn_preview).btn-link.focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 252, 252, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-link.disabled, #oe_snippets .btn:not(.o_btn_preview).btn-link:disabled {
  color: #212529;
  background-color: #fcfcfc;
  border-color: #fcfcfc;
}

#oe_snippets .btn:not(.o_btn_preview).btn-link:not(:disabled):not(.disabled):active, #oe_snippets .btn:not(.o_btn_preview).btn-link:not(:disabled):not(.disabled).active,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-link.dropdown-toggle {
  color: #212529;
  background-color: #e3e2e2;
  border-color: gainsboro;
}

#oe_snippets .btn:not(.o_btn_preview).btn-link:not(:disabled):not(.disabled):active:focus, #oe_snippets .btn:not(.o_btn_preview).btn-link:not(:disabled):not(.disabled).active:focus,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-link.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 252, 252, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-success {
  color: #fff;
  background-color: #40ad67;
  border-color: #40ad67;
}

#oe_snippets .btn:not(.o_btn_preview).btn-success:hover {
  color: #fff;
  background-color: #369156;
  border-color: #328851;
}

#oe_snippets .btn:not(.o_btn_preview).btn-success:focus, #oe_snippets .btn:not(.o_btn_preview).btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(64, 173, 103, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-success.disabled, #oe_snippets .btn:not(.o_btn_preview).btn-success:disabled {
  color: #fff;
  background-color: #40ad67;
  border-color: #40ad67;
}

#oe_snippets .btn:not(.o_btn_preview).btn-success:not(:disabled):not(.disabled):active, #oe_snippets .btn:not(.o_btn_preview).btn-success:not(:disabled):not(.disabled).active,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-success.dropdown-toggle {
  color: #fff;
  background-color: #328851;
  border-color: #2f7e4b;
}

#oe_snippets .btn:not(.o_btn_preview).btn-success:not(:disabled):not(.disabled):active:focus, #oe_snippets .btn:not(.o_btn_preview).btn-success:not(:disabled):not(.disabled).active:focus,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(64, 173, 103, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-info {
  color: #fff;
  background-color: #6999a8;
  border-color: #6999a8;
}

#oe_snippets .btn:not(.o_btn_preview).btn-info:hover {
  color: #fff;
  background-color: #568695;
  border-color: #517e8d;
}

#oe_snippets .btn:not(.o_btn_preview).btn-info:focus, #oe_snippets .btn:not(.o_btn_preview).btn-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 153, 168, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-info.disabled, #oe_snippets .btn:not(.o_btn_preview).btn-info:disabled {
  color: #fff;
  background-color: #6999a8;
  border-color: #6999a8;
}

#oe_snippets .btn:not(.o_btn_preview).btn-info:not(:disabled):not(.disabled):active, #oe_snippets .btn:not(.o_btn_preview).btn-info:not(:disabled):not(.disabled).active,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-info.dropdown-toggle {
  color: #fff;
  background-color: #517e8d;
  border-color: #4d7784;
}

#oe_snippets .btn:not(.o_btn_preview).btn-info:not(:disabled):not(.disabled):active:focus, #oe_snippets .btn:not(.o_btn_preview).btn-info:not(:disabled):not(.disabled).active:focus,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 153, 168, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-warning {
  color: #212529;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

#oe_snippets .btn:not(.o_btn_preview).btn-warning:hover {
  color: #212529;
  background-color: #ed9d2b;
  border-color: #ec971f;
}

#oe_snippets .btn:not(.o_btn_preview).btn-warning:focus, #oe_snippets .btn:not(.o_btn_preview).btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-warning.disabled, #oe_snippets .btn:not(.o_btn_preview).btn-warning:disabled {
  color: #212529;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

#oe_snippets .btn:not(.o_btn_preview).btn-warning:not(:disabled):not(.disabled):active, #oe_snippets .btn:not(.o_btn_preview).btn-warning:not(:disabled):not(.disabled).active,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #ec971f;
  border-color: #ea9214;
}

#oe_snippets .btn:not(.o_btn_preview).btn-warning:not(:disabled):not(.disabled):active:focus, #oe_snippets .btn:not(.o_btn_preview).btn-warning:not(:disabled):not(.disabled).active:focus,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 173, 78, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-danger {
  color: #fff;
  background-color: #e6586c;
  border-color: #e6586c;
}

#oe_snippets .btn:not(.o_btn_preview).btn-danger:hover {
  color: #fff;
  background-color: #e1374f;
  border-color: #df2c45;
}

#oe_snippets .btn:not(.o_btn_preview).btn-danger:focus, #oe_snippets .btn:not(.o_btn_preview).btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(230, 88, 108, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-danger.disabled, #oe_snippets .btn:not(.o_btn_preview).btn-danger:disabled {
  color: #fff;
  background-color: #e6586c;
  border-color: #e6586c;
}

#oe_snippets .btn:not(.o_btn_preview).btn-danger:not(:disabled):not(.disabled):active, #oe_snippets .btn:not(.o_btn_preview).btn-danger:not(:disabled):not(.disabled).active,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #df2c45;
  border-color: #dd213c;
}

#oe_snippets .btn:not(.o_btn_preview).btn-danger:not(:disabled):not(.disabled):active:focus, #oe_snippets .btn:not(.o_btn_preview).btn-danger:not(:disabled):not(.disabled).active:focus,
.show > #oe_snippets .btn:not(.o_btn_preview).btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(230, 88, 108, 0.5);
}

#oe_snippets .btn:not(.o_btn_preview).btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0;
}

#oe_snippets .btn:not(.o_btn_preview).btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0;
}

#oe_snippets #snippets_menu {
  -webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  height: 46px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  background: #2c2c36;
  text-align: center;
  font-weight: normal;
  font-size: 17px;
  color: white;
  font-family: Roboto, "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#oe_snippets #o_scroll {
  height: 100%;
  overflow: auto;
}

#oe_snippets #o_scroll .o_panel_header {
  color: #999999;
  display: -webkit-box; display: -webkit-flex; display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  color: white;
  margin-bottom: 3%;
}

#oe_snippets #o_scroll .o_panel_header i {
  margin-right: 5px;
}

#oe_snippets #o_scroll .o_panel_body:after {
  content: " ";
  display: table;
  clear: both;
}

#oe_snippets #o_scroll .o_panel_body .oe_snippet {
  float: left;
  width: 45.5%;
  margin: 0 0 6% 3%;
  box-shadow: none;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  cursor: copy;
  cursor: grab;
}

#oe_snippets #o_scroll .o_panel_body .oe_snippet .oe_snippet_thumbnail .oe_snippet_thumbnail_img {
  border: none;
}

#oe_snippets #o_scroll .o_panel_body .oe_snippet .oe_snippet_thumbnail .oe_snippet_thumbnail_title {
  border: none;
  padding: 5px 0;
}

#oe_snippets #o_scroll .o_panel_body .oe_snippet .oe_snippet_thumbnail:hover .oe_snippet_thumbnail_img {
  transition: transform 200ms ease 0s;
  transform: scale(1.05);
}

#oe_snippets #o_scroll .o_panel_body .oe_snippet.o_disabled .oe_snippet_thumbnail {
  background-color: rgba(255, 0, 0, 0.75);
}

#oe_snippets #o_scroll .o_panel_body .oe_snippet.o_disabled .oe_snippet_thumbnail_img {
  opacity: 0.8;
}

#oe_snippets #o_scroll .o_panel_body .oe_snippet.o_snippet_install .oe_snippet_thumbnail_img {
  opacity: 0.5;
}

#oe_snippets #o_scroll .o_panel_body .oe_snippet.o_snippet_install .btn.o_install_btn {
  display: none;
  position: absolute;
  top: 16px;
  left: 4px;
  bottom: auto;
  right: 4px;
}

#oe_snippets #o_scroll .o_panel_body .oe_snippet.o_snippet_install:hover .btn.o_install_btn {
  display: block;
}

#oe_snippets #o_scroll .o_panel_body .oe_snippet:nth-child(2n+1) {
  clear: left;
}

.oe_snippet {
  position: relative;
  width: 100px;
  background-color: #50545d;
}

.oe_snippet > :not(.oe_snippet_thumbnail) {
  display: none !important;
}

.oe_snippet .oe_snippet_thumbnail {
  width: 100%;
}

.oe_snippet .oe_snippet_thumbnail .oe_snippet_thumbnail_img {
  width: 100%;
  height: 0;
  border: 1px solid #50545d;
  padding-bottom: 75%;
  background-size: cover;
  background-position: center center;
  text-align: center;
  overflow: hidden;
}

.oe_snippet .oe_snippet_thumbnail img.oe_snippet_thumbnail_img {
  height: auto;
  padding-bottom: 0;
}

.oe_snippet .oe_snippet_thumbnail .oe_snippet_thumbnail_title {
  display: block;
  border: 1px solid #2c2c36;
  padding: 5px;
  font-size: 12px;
  font-weight: 300;
  text-shadow: none;
  color: #d4d5d7;
}

.oe_snippet .oe_snippet_thumbnail:hover .oe_snippet_thumbnail_title {
  color: white;
}

@keyframes dropZoneInsert {
  to {
    background-color: rgba(135, 90, 123, 0.2);
  }
}

#wrapwrap .oe_drop_zone {
  background-color: rgba(135, 90, 123, 0.05);
  animation: dropZoneInsert 1s linear 0s infinite alternate;
}

#wrapwrap .oe_drop_zone.oe_insert {
  z-index: 999;
  border: 2px dashed #875A7B;
  border-top: none;
  border-bottom: none;
  position: relative;
  width: 100%;
  height: 40px;
  margin: -20px 0;
}

#wrapwrap .oe_drop_zone.oe_insert:after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  border-bottom: 2px dashed #875A7B;
  box-sizing: content-box;
}

#wrapwrap .oe_drop_zone.oe_insert.oe_vertical {
  border: 2px dashed #875A7B;
  border-left: none;
  border-right: none;
  width: 40px;
  float: left;
  margin: 0 -20px;
}

#wrapwrap .oe_drop_zone.oe_insert.oe_vertical:after {
  width: 50%;
  height: 100%;
  border-bottom: none;
  border-right: 2px dashed #875A7B;
}

#oe_manipulators {
  position: relative;
}

#oe_manipulators .oe_overlay {
  position: absolute;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1002;
  display: none;
  height: 0;
  background: transparent;
  text-align: center;
  transition: opacity 400ms linear 0s;
}

#oe_manipulators .oe_overlay.o_keypress {
  opacity: 0;
}

#oe_manipulators .oe_overlay.oe_active {
  display: block;
}

#oe_manipulators .oe_overlay > .oe_overlay_options {
  font-family: Roboto, "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  width: 250px;
  text-align: left;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group {
  white-space: nowrap;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group .btn {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0;
  border: 1px solid #2c2c36;
  line-height: 25px;
  font-size: 11px;
  border-radius: 0;
  font-weight: normal;
  transition: all 400ms ease 0s;
  color: #d4d5d7;
  background-color: #4e525b;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group .btn:hover {
  color: white;
  background-color: #434352;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group .btn:hover > .fa {
  color: white;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group .btn.oe_snippet_remove {
  color: white;
  background-color: #e6586c;
  border-color: #bc1c33;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group .btn.oe_snippet_remove > .fa {
  color: white;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group .btn.oe_snippet_remove:hover {
  background-color: #bc1c33;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group .btn.oe_snippet_parent > i {
  transform: scaleX(-1);
  font-size: 12px;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group .btn > .fa {
  color: #d4d5d7;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .btn {
  width: auto;
  padding: 0 25px 0 5px;
  background-color: #2c2c36;
  text-transform: uppercase;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .btn:hover, #oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .btn:active, #oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .btn:focus {
  background-color: #373744;
  border-color: #434352;
  color: white;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .btn:before, #oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .btn:after {
  content: "";
  width: 7px;
  height: 2px;
  background-color: #d4d5d7;
  position: absolute;
  top: 46%;
  left: auto;
  bottom: auto;
  right: auto;
  transition: all 0.3s ease 0s;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .btn:before {
  right: 9px;
  transform: rotate(45deg);
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .btn:after {
  right: 5px;
  transform: rotate(-45deg);
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options.show .btn:active, #oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options.show .btn:focus, #oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options.show .btn:active:focus {
  box-shadow: none;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options.show .btn:before, #oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options.show .btn:after {
  width: 9px;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options.show .btn:before {
  right: 10px;
  transform: translateX(5px) rotate(-45deg);
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options.show .btn:after {
  transform: rotate(45deg);
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu {
  margin: -1px 0 0 0;
  padding: 0;
  border: 1px solid #2c2c36;
  border-radius: 0;
  background-color: #4e525b;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-item {
  position: relative;
  color: #d4d5d7;
  font-weight: normal;
  font-size: 12px;
  padding: 5px 40px 5px 10px;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-item:hover {
  background-color: rgba(44, 44, 54, 0.5);
  color: white;
  background: transparent;
  cursor: pointer;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-item.active {
  color: white;
  background-color: rgba(44, 44, 54, 0.5);
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-item.active:before {
  position: absolute;
  top: 5px;
  left: auto;
  bottom: auto;
  right: 5px;
  content: "\f00c";
  font-family: "FontAwesome";
  color: #00A09D;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-item > i {
  width: 15px;
  margin-right: 10px;
  text-align: center;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-submenu {
  position: relative;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-submenu::before {
  position: absolute;
  top: 12px;
  left: auto;
  bottom: auto;
  right: 10px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 4px solid transparent;
  border-left: 4px solid;
  border-right: 0;
  border-top: 4px solid transparent;
  -moz-transform: scale(0.9999);
  border-left-color: #d4d5d7;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-submenu:hover > .dropdown-menu {
  display: block;
  left: 100%;
  top: 0;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-submenu:hover > .dropdown-menu.o_open_to_left {
  left: auto;
  right: 100%;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-divider {
  display: block;
  height: 1px;
  border-top: 1px solid #666;
  margin: 0;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-header {
  color: wheat;
  font-size: 11px;
  margin-top: 2px;
  text-transform: uppercase;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-header:hover {
  background-color: initial;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-header.o_main_header {
  padding-left: 10px;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-header.o_parent_editor_header {
  position: relative;
  color: wheat;
  font-weight: 400;
  font-size: 10px;
  margin: 10px 0 0 10px;
  text-transform: uppercase;
  padding-bottom: .25em;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-header.o_parent_editor_header::before {
  content: "\f148";
  position: absolute;
  top: 5px;
  left: 4px;
  bottom: auto;
  right: auto;
  font-family: FontAwesome;
  transform: scaleX(-1);
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-header.o_parent_editor_header ~ .dropdown-submenu .dropdown-item,
#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-header.o_parent_editor_header ~ .dropdown-item {
  font-size: 11px;
  opacity: 0.7;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-header.o_parent_editor_header ~ .dropdown-submenu .dropdown-item:hover,
#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-header.o_parent_editor_header ~ .dropdown-item:hover {
  opacity: 1;
}

#oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .dropdown-menu .dropdown-header.o_parent_editor_header ~ .dropdown-submenu::before {
  position: absolute;
  top: 10px;
  left: auto;
  bottom: auto;
  right: 10px;
}

#oe_manipulators .oe_overlay.o_top_cover > .oe_overlay_options {
  bottom: auto;
  top: 1px;
  right: 1px;
}

#oe_manipulators .oe_overlay > .o_handles {
  position: absolute;
  top: -10000px;
  left: 0;
  bottom: auto;
  right: 0;
}

#oe_manipulators .oe_overlay > .o_handles:hover > .o_handle {
  background-color: rgba(0, 226, 255, 0.05);
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle {
  position: relative;
  border: 0 solid #00e2ff;
  transition: background 300ms ease 0s;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle:hover, #oe_manipulators .oe_overlay > .o_handles > .o_handle.o_active {
  background-color: rgba(0, 226, 255, 0.2);
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle:hover:before, #oe_manipulators .oe_overlay > .o_handles > .o_handle.o_active:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  width: 1px;
  height: 100%;
  margin-left: -1px;
  background-color: rgba(0, 226, 255, 0.5);
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle:hover.w:before, #oe_manipulators .oe_overlay > .o_handles > .o_handle.o_active.w:before {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 1px;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle:hover:after, #oe_manipulators .oe_overlay > .o_handles > .o_handle.o_active:after {
  border-color: #00b5cc;
  background-color: #008899;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle:after {
  display: block;
  width: 18px;
  height: 18px;
  border: solid 1px #00b5cc;
  line-height: 16px;
  font-size: 14px;
  font-family: FontAwesome;
  background-color: #008899;
  color: white;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.w:after, #oe_manipulators .oe_overlay > .o_handles > .o_handle.e:after {
  content: "\f07e";
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.s:after, #oe_manipulators .oe_overlay > .o_handles > .o_handle.n:after {
  content: "\f07d";
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.o_handle_start.w:after, #oe_manipulators .oe_overlay > .o_handles > .o_handle.o_handle_start.e:after {
  content: '\f061';
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.o_handle_start.n:after, #oe_manipulators .oe_overlay > .o_handles > .o_handle.o_handle_start.s:after {
  content: '\f063';
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.o_handle_end.w:after, #oe_manipulators .oe_overlay > .o_handles > .o_handle.o_handle_end.e:after {
  content: '\f060';
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.o_handle_end.n:after, #oe_manipulators .oe_overlay > .o_handles > .o_handle.o_handle_end.s:after {
  content: '\f062';
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.w {
  position: absolute;
  top: 10000px;
  left: 0;
  bottom: -10000px;
  right: auto;
  width: 1px;
  border-width: 1px;
  border-right-width: 0;
  cursor: e-resize;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.w:after {
  position: absolute;
  top: 50%;
  left: 40%;
  bottom: auto;
  right: auto;
  margin-top: -9px;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.e {
  position: absolute;
  top: 10000px;
  left: auto;
  bottom: -10000px;
  right: 0;
  width: 1px;
  border-right-width: 1px;
  cursor: w-resize;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.e:after {
  position: absolute;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 40%;
  margin-top: -9px;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.n {
  position: absolute;
  top: 10000px;
  left: 0;
  bottom: auto;
  right: 0;
  border-top-width: 1px;
  cursor: ns-resize;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.n:after {
  position: absolute;
  top: 40%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin-left: -9px;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.s {
  position: absolute;
  top: auto;
  left: 0;
  bottom: -10000px;
  right: 0;
  border-bottom-width: 1px;
  cursor: ns-resize;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.s:after {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 40%;
  right: auto;
  margin-left: -9px;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.readonly {
  cursor: auto !important;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.readonly:after {
  display: none !important;
}

#oe_manipulators .oe_overlay > .o_handles > .o_handle.readonly:hover {
  opacity: 0.5;
}

.s-resize-important * {
  cursor: s-resize !important;
}

.n-resize-important * {
  cursor: n-resize !important;
}

.e-resize-important * {
  cursor: e-resize !important;
}

.w-resize-important * {
  cursor: w-resize !important;
}

.move-important * {
  cursor: move !important;
}

.note-popover .popover {
  height: 46px;
  top: 0 !important;
  left: 0 !important;
  padding: 0;
  margin: 0 0 0 210px;
  background-color: #2c2c36;
  border-radius: 0;
  border-width: 0 1px;
  width: auto;
  text-align: center;
  box-shadow: none;
}

.note-popover .popover .popover-body {
  height: 46px;
  white-space: nowrap;
  font-family: Roboto, "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.note-popover .popover .popover-body h1, .note-popover .popover .popover-body h2, .note-popover .popover .popover-body h3, .note-popover .popover .popover-body h4, .note-popover .popover .popover-body h5, .note-popover .popover .popover-body h6, .note-popover .popover .popover-body .h1, .note-popover .popover .popover-body .h2, .note-popover .popover .popover-body .h3, .note-popover .popover .popover-body .h4, .note-popover .popover .popover-body .h5, .note-popover .popover .popover-body .h6 {
  font-family: Roboto, "Montserrat", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.note-popover .popover .popover-body .btn {
  height: 46px;
  border: none;
  border-radius: 0;
  padding: 0.375rem 0.375rem;
  background-color: #2c2c36;
  color: #999999;
  border-top: 2px solid transparent;
  transition: all 0.3s ease 0s;
}

.note-popover .popover .popover-body .btn > .fa {
  color: #999999;
}

.note-popover .popover .popover-body .btn:hover {
  border-top: 2px solid #999999;
  color: #d4d5d7;
}

.note-popover .popover .popover-body .btn:hover > .fa {
  color: #d4d5d7;
}

.note-popover .popover .popover-body .btn .o_image_alt {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  max-width: 100px;
}

.note-popover .popover .popover-body .btn.active {
  border-top: 2px solid white;
  background-color: #2c2c36;
  color: #d4d5d7;
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.5);
}

.note-popover .popover .popover-body .btn.active > .fa {
  color: #d4d5d7;
}

.note-popover .popover .popover-body > .btn-group {
  margin-top: -2px;
}

.note-popover .popover .popover-body > .btn-group.show .dropdown-toggle, .note-popover .popover .popover-body > .btn-group .btn-group.show .dropdown-toggle {
  border-top: 2px solid white;
  background-color: #272730;
  color: white;
  box-shadow: none;
}

.note-popover .popover .popover-body > .btn-group.show .dropdown-toggle > .fa, .note-popover .popover .popover-body > .btn-group.show .dropdown-toggle > span, .note-popover .popover .popover-body > .btn-group .btn-group.show .dropdown-toggle > .fa, .note-popover .popover .popover-body > .btn-group .btn-group.show .dropdown-toggle > span {
  color: white;
}

.note-popover .popover .popover-body .dropdown-menu {
  margin: 0;
  border-radius: 0;
  background-color: #272730;
  color: #999999;
  white-space: normal;
}

.note-popover .popover .popover-body .dropdown-menu .dropdown-item {
  width: 100%;
  color: #d4d5d7;
}

.note-popover .popover .popover-body .dropdown-menu .dropdown-item > .fa {
  color: #d4d5d7;
}

.note-popover .popover .popover-body .dropdown-menu .dropdown-item:hover {
  background-color: #3D4048;
  color: white;
}

.note-popover .popover .popover-body .dropdown-menu .dropdown-item:hover > .fa {
  color: white;
}

.note-popover .popover .popover-body .note-para .dropdown-menu {
  min-width: 228px;
}

.note-popover .popover .popover-body .note-color-palette .note-color-row, .note-popover .popover .popover-body .note-custom-color-palette .note-color-row {
  height: auto !important;
}

.note-popover .popover .popover-body .note-color-palette .note-color-row::after, .note-popover .popover .popover-body .note-custom-color-palette .note-color-row::after {
  content: "";
  display: table;
  clear: both;
}

.note-popover .popover .popover-body .note-color-palette .note-color-row .note-color-btn, .note-popover .popover .popover-body .note-custom-color-palette .note-color-row .note-color-btn {
  float: left;
  height: 20px;
  width: 20px;
  margin: 1px 1px 0 0;
  border: 1px solid black;
  position: relative;
  background-image: url("/web_editor/static/src/img/transparent.png");
  background-size: 10px auto;
  z-index: 1;
}

.note-popover .popover .popover-body .note-color-palette .note-color-row .note-color-btn::before, .note-popover .popover .popover-body .note-custom-color-palette .note-color-row .note-color-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: inherit;
}

.note-popover .popover .popover-body .note-color-palette .note-color-row .note-color-btn.o_small, .note-popover .popover .popover-body .note-custom-color-palette .note-color-row .note-color-btn.o_small {
  width: 16px;
  height: 16px;
  margin: 3px 3px 2px 2px;
  border-radius: 50%;
}

.note-popover .popover .popover-body .note-color-palette .note-color-row .note-color-btn.o_clear, .note-popover .popover .popover-body .note-custom-color-palette .note-color-row .note-color-btn.o_clear {
  clear: both;
}

.note-popover .popover .popover-body .note-color-palette .note-color-row .note-color-btn.o_btn_transparent, .note-popover .popover .popover-body .note-custom-color-palette .note-color-row .note-color-btn.o_btn_transparent {
  display: none;
}

.note-popover .popover .dropdown-menu .dropdown-item > i, .note-editor .dropdown-menu .dropdown-item > i {
  visibility: hidden;
}

.note-popover .popover .dropdown-menu .dropdown-item.checked > i, .note-editor .dropdown-menu .dropdown-item.checked > i {
  visibility: visible;
}

.note-popover .popover .note-color .note-back-color-preview .dropdown-toggle, .note-popover .popover .note-color .note-fore-color-preview .dropdown-toggle, .note-editor .note-color .note-back-color-preview .dropdown-toggle, .note-editor .note-color .note-fore-color-preview .dropdown-toggle {
  padding: 0px 7px;
  height: 35px;
  width: auto;
  border-top: none !important;
  border-bottom: 3px solid;
}

.note-popover .popover .note-color .note-back-color-preview .dropdown-toggle:after, .note-popover .popover .note-color .note-fore-color-preview .dropdown-toggle:after, .note-editor .note-color .note-back-color-preview .dropdown-toggle:after, .note-editor .note-color .note-fore-color-preview .dropdown-toggle:after {
  display: none;
}

.note-popover .popover .note-color .o_foreground_toggle > button:before, .note-editor .note-color .o_foreground_toggle > button:before {
  font-family: FontAwesome;
  content: '\f1fc';
}

.note-popover .popover .note-color .o_background_toggle > button:before, .note-editor .note-color .o_background_toggle > button:before {
  font-family: FontAwesome;
  content: '\f0c3';
}

.note-popover .popover .note-color .dropdown-menu, .note-editor .note-color .dropdown-menu {
  min-width: 180px !important;
}

.note-popover .popover .note-color .dropdown-menu .note-custom-color, .note-editor .note-color .dropdown-menu .note-custom-color {
  cursor: pointer;
  border-radius: 5px;
}

.note-popover .popover .note-color .dropdown-menu .note-custom-color:hover, .note-editor .note-color .dropdown-menu .note-custom-color:hover {
  background-color: #ced4da;
  color: black;
}

table.colorpicker {
  width: 100%;
}

table.colorpicker td {
  padding: 0 2px 2px 0;
}

table.colorpicker td > button {
  width: 100%;
  border: 1px solid black;
  padding: 0;
}

table.colorpicker td > button::after {
  content: "A";
  font-weight: bold;
  vertical-align: sub;
}

.colorpicker {
  background-color: #2c2c36 !important;
}

.colorpicker .o_colorpicker_sections {
  border: 1px solid #111114;
  font-size: 14px;
}

.colorpicker .o_colorpicker_sections .o_colorpicker_section_tabs {
  width: 225px;
  height: 100%;
}

.colorpicker .o_colorpicker_section:after {
  content: "";
  display: table;
  clear: both;
}

.colorpicker .o_colorpicker_section button {
  float: left;
  height: 25px;
  width: 25px;
  margin: 1px 1px 0 2px;
  border: 1px solid black;
  position: relative;
  background-image: url("/web_editor/static/src/img/transparent.png");
  background-size: 10px auto;
  z-index: 1;
}

.colorpicker .o_colorpicker_section button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: inherit;
}

.colorpicker .o_colorpicker_section button.o_small {
  width: 23px;
  height: 23px;
  margin: 2px;
  border-radius: 50%;
}

.colorpicker .o_colorpicker_section button.o_small + :not(.o_small) {
  clear: both;
}

.colorpicker .o_colorpicker_section button:hover, .colorpicker .o_colorpicker_section button.selected {
  box-shadow: 0px 0px 2px 2px #4e525b;
}

.colorpicker .o_colorpicker_section button.selected:before {
  content: "\f00c";
  font-family: "FontAwesome";
  padding-top: 1px;
  color: #28a745;
}

.colorpicker .o_colorpicker_section button[data-event="foreColor"] {
  background-color: #50545d;
}

.colorpicker .o_colorpicker_section button[data-event="foreColor"]:before {
  background-color: rgba(255, 255, 255, 0.3);
}

.colorpicker .o_colorpicker_section button.o_btn_transparent::before {
  background-color: transparent;
}

.colorpicker .note-palette-title {
  padding: 10px 0px 10px 10px;
  color: #d4d5d7;
  font-weight: bold;
}

.colorpicker .palette-reset {
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: 0;
  margin: 0;
  padding: 5px 10px 0;
}

.colorpicker .palette-reset .note-color-reset {
  font-size: 20px !important;
  color: rgba(192, 126, 136, 0.6);
  margin: 1px 0 0;
  padding: 0;
  cursor: pointer;
}

.colorpicker .palette-reset .note-color-reset:hover {
  background: transparent !important;
  color: #e6586c;
}

body.editor_enable {
  padding-top: 46px !important;
}

body.editor_enable #web_editor-top-edit {
  background-color: #2c2c36;
}

body.editor_enable #web_editor-top-edit form.navbar-form {
  right: 0;
}

body.editor_enable.editor_has_snippets {
  transition: padding-left 400ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  padding-left: 210px !important;
}

body.editor_enable.editor_has_snippets #oe_snippets {
  left: 0;
}

body.editor_enable .btn {
  -webkit-user-select: none;
}

#web_editor_inside_iframe {
  background-color: #8f8f8f;
}

#web_editor_inside_iframe #wrapwrap {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

#web_editor_inside_iframe #wrapwrap > * {
  display: table-row;
}

#web_editor_inside_iframe #wrapwrap > main {
  height: 100%;
}

#web_editor_inside_iframe #wrapwrap > main #editable_area {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    transform: translate(0, -5px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes inputHighlighter {
  from {
    background: #00A09D;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.o_switch {
  display: -webkit-box; display: -webkit-flex; display: flex;
  align-items: center;
  font-weight: normal;
  cursor: pointer;
}

.o_switch > input {
  display: none;
}

.o_switch > input + span {
  background-color: #fcfcfc;
  box-shadow: inset 0 0 0px 1px #e3e2e2;
  border-radius: 100rem;
  height: 2ex;
  width: 3.6ex;
  margin-right: 0.5em;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.o_switch > input + span:after {
  content: "";
  background: #fcfcfc;
  display: block;
  width: 1.8ex;
  height: 1.8ex;
  margin-top: 0.1ex;
  margin-left: 0.1ex;
  border-radius: 100rem;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0 1px 1px #a3a3a3, inset 0 0 0 1px white;
}

.o_switch > input:checked + span {
  box-shadow: none;
  background-image: linear-gradient(0deg, #40ad67, #328851);
}

.o_switch > input:checked + span:after {
  margin-left: 1.7ex;
}

.o_switch.o_switch_danger > input:not(:checked) + span {
  box-shadow: none;
  background-image: linear-gradient(0deg, #e04b59, #d32535);
}

.dropdown-menu label .o_switch {
  margin: 0;
  padding: 2px 0;
}

.text-input-group {
  position: relative;
  margin-bottom: 45px;
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
}

.text-input-group input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

.text-input-group input:focus {
  outline: none;
}

.text-input-group label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 10px;
  left: 5px;
  bottom: auto;
  right: auto;
  pointer-events: none;
  transition: 0.2s ease all;
}

.text-input-group input:focus ~ label, .text-input-group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}

.text-input-group .bar {
  position: relative;
  display: block;
  width: 300px;
}

.text-input-group .bar:before, .text-input-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  background: #5264AE;
  transition: 0.2s ease all;
}

.text-input-group .bar:before {
  left: 50%;
}

.text-input-group .bar:after {
  right: 50%;
}

.text-input-group input:focus ~ .bar:before, .text-input-group input:focus ~ .bar:after {
  width: 50%;
}

.text-input-group .highlight {
  position: absolute;
  top: 25%;
  left: 0;
  bottom: auto;
  right: auto;
  height: 60%;
  width: 100px;
  pointer-events: none;
  opacity: 0.5;
}

.text-input-group input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

.oe_snippet_body {
  opacity: 0;
  animation: fadeInDownSmall 700ms forwards;
}

.o_ace_view_editor {
  background: #2F3129;
  color: white;
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: column nowrap; flex-flow: column nowrap;
  opacity: 0.97;
}

.o_ace_view_editor .o_ace_view_editor_title {
  -webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  display: -webkit-box; display: -webkit-flex; display: flex;
  align-items: center;
  padding: 7.5px;
}

.o_ace_view_editor .o_ace_view_editor_title > .o_ace_type_switcher > button::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em solid;
  -moz-transform: scale(0.9999);
  margin-left: 4px;
}

.o_ace_view_editor .o_ace_view_editor_title > * {
  -webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  margin: 0 7.5px;
}

.o_ace_view_editor .o_ace_view_editor_title > *.o_include_option {
  display: -webkit-box; display: -webkit-flex; display: flex;
  align-items: center;
  font-size: 11px;
}

.o_ace_view_editor .o_ace_view_editor_title > *.o_include_option > .custom-control {
  margin-right: 7.5px;
}

.o_ace_view_editor .o_ace_view_editor_title > *.o_res_list {
  -webkit-box-flex: 1; -webkit-flex: 1 1 auto; flex: 1 1 auto;
  min-width: 60px;
}

.o_ace_view_editor #ace-view-id {
  -webkit-box-flex: 0; -webkit-flex: 0 0 auto; flex: 0 0 auto;
  padding: 7.5px 15px;
  background-color: #4a4d40;
}

.o_ace_view_editor #ace-view-editor {
  height: 70%;
  -webkit-box-flex: 1; -webkit-flex: 1 1 auto; flex: 1 1 auto;
}

.o_ace_view_editor #ace-view-editor .ace_gutter {
  cursor: ew-resize;
}

.o_ace_view_editor #ace-view-editor .ace_gutter .ace_gutter-cell.o_error {
  position: relative;
}

.o_ace_view_editor #ace-view-editor .ace_gutter .ace_gutter-cell.o_error::after {
  position: absolute;
  top: -100%;
  left: 0;
  bottom: -100%;
  right: 0;
  content: "";
  z-index: 1000;
  display: block;
  background-color: #dc3545;
  opacity: 0.5;
  pointer-events: none;
}

.o_ace_view_editor #ace-view-editor .ace_resize_bar {
  position: absolute;
  top: auto;
  left: auto;
  bottom: auto;
  right: 0;
  width: 25px;
  height: 100%;
  cursor: ew-resize;
}

.o_ace_view_editor #ace-view-editor .ace_scroller.o_error::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  width: 3px;
  content: "";
  z-index: 1000;
  display: block;
  background-color: #dc3545;
  opacity: 0.5;
  pointer-events: none;
}

.o_ace_select2_dropdown {
  width: auto !important;
  padding-top: 4px;
  font-family: monospace !important;
}

.o_ace_select2_dropdown > .select2-results {
  max-height: none;
  max-height: 70vh;
}

.o_ace_select2_dropdown > .select2-results .select2-result-label {
  padding-top: 1px;
  padding-bottom: 2px;
}

.o_ace_select2_dropdown > .select2-results .select2-result-label > .o_ace_select2_result {
  padding: 0;
  font-size: 12px;
  white-space: nowrap;
}

body .modal .o_select_media_dialog {
  max-width: 80%;
}

body .modal .o_select_media_dialog .modal-body .nav-tabs .active > a[href="#editor-media-icon"] {
  background-color: white;
}

body .modal .o_select_media_dialog .modal-body li.search .form-group {
  position: relative;
  margin: 0 10px 0 0;
}

body .modal .o_select_media_dialog .modal-body li.search .form-group > input {
  padding-right: 30px;
}

body .modal .o_select_media_dialog .modal-body li.search .form-group > span {
  position: absolute;
  top: 7px;
  left: auto;
  bottom: auto;
  right: 7px;
  font-size: 1.3em;
}

body .modal .o_select_media_dialog .modal-body .card {
  border-color: #e9ecef;
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body .modal .o_select_media_dialog .modal-body .o_existing_attachment_cell .o_existing_attachment_remove {
  position: absolute;
  top: 2px;
  left: auto;
  bottom: auto;
  right: 17px;
  padding: 3px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 1px white;
  border-radius: 0 0 0 2px;
  opacity: 0;
  cursor: pointer;
}

body .modal .o_select_media_dialog .modal-body .o_existing_attachment_cell .o_existing_attachment_remove:hover {
  background-color: white;
  color: #e6586c;
}

body .modal .o_select_media_dialog .modal-body .o_existing_attachment_cell .o_image {
  border: 2px solid transparent;
  cursor: pointer;
  transition: opacity 400ms ease 0s;
}

body .modal .o_select_media_dialog .modal-body .o_existing_attachment_cell .o_image.o_webimage {
  width: 100%;
  height: auto;
  background-image: none !important;
}

body .modal .o_select_media_dialog .modal-body .o_existing_attachment_cell .o_image.o_image_loading {
  opacity: 0;
}

body .modal .o_select_media_dialog .modal-body .o_existing_attachment_cell.o_selected .o_image {
  border-color: #875A7B;
  box-shadow: 0px 0px 2px 2px #8f8f8f;
}

body .modal .o_select_media_dialog .modal-body .o_existing_attachment_cell:hover .o_existing_attachment_remove {
  opacity: 1;
}

body .modal .o_select_media_dialog .modal-body .font-icons-icons {
  padding: 20px 0;
}

body .modal .o_select_media_dialog .modal-body .font-icons-icons > span {
  text-align: center;
  font-size: 22px;
  margin: 5px;
  width: 50px;
  height: 50px;
  padding: 15px;
  cursor: pointer;
}

body .modal .o_select_media_dialog .modal-body .font-icons-icons > span.o_selected {
  cursor: auto;
  background-color: #fcfcfc;
  box-shadow: 0px 0px 0px 1px #40ad67;
}

body .modal .o_select_media_dialog .modal-body #editor-media-image .card label, body .modal .o_select_media_dialog .modal-body #editor-media-document .card label {
  margin: auto 10px;
}

body .modal .o_select_media_dialog .modal-body #editor-media-image .card .btn-group, body .modal .o_select_media_dialog .modal-body #editor-media-document .card .btn-group {
  margin-right: 10px;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card {
  padding: 0;
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: row wrap; flex-flow: row wrap;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card .o_video_dialog_form {
  -webkit-box-flex: 1; -webkit-flex: 1 1 auto; flex: 1 1 auto;
  min-width: 0;
  padding: 20px;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card .o_video_dialog_form #o_video_form_group {
  position: relative;
  width: 100%;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card .o_video_dialog_form #o_video_form_group > textarea {
  width: 100%;
  min-height: 95px;
  padding-bottom: 25px;
  overflow-y: scroll;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card .o_video_dialog_form #o_video_form_group > .o_validate_feedback {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card .o_video_dialog_form #o_video_form_group > .o_validate_feedback > .fa {
  display: none;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card .o_video_dialog_form #o_video_form_group.o_has_error > .o_validate_feedback > .fa-exclamation-triangle {
  display: block;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card .o_video_dialog_form #o_video_form_group.o_has_success > .o_validate_feedback > .fa-check {
  display: block;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card #video-preview {
  position: relative;
  flex: 1 0 50%;
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: column nowrap; flex-flow: column nowrap;
  justify-content: center;
  padding: 0 19px;
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  background-image: linear-gradient(-150deg, #2c2c36, #272730);
  color: white;
  border: none;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card #video-preview .media_iframe_video {
  width: 100%;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card #video-preview .o_video_dialog_iframe {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0 0 15px 2px #000;
  max-width: 100%;
  max-height: 100%;
}

body .modal .o_select_media_dialog .modal-body #editor-media-video .card #video-preview .o_video_dialog_iframe.alert {
  animation: fadeInDownSmall 700ms forwards;
  margin: 0 auto;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt {
  margin: 15px 0;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .help-control {
  position: absolute;
  top: 15px;
  left: auto;
  bottom: auto;
  right: 15px;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .help {
  margin: 15px 0;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .help .simulator {
  position: relative;
  float: left;
  margin-right: 15px;
  width: 120px;
  height: 100px;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .help .simulator .bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px dotted #888787;
  background-image: url(/web/image);
  background-position: center center;
  background-size: cover;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .help .simulator .el {
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 10px;
  right: 0;
  border: 1px solid #222;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .help .simulator.contain_bg .bg {
  position: absolute;
  top: 0;
  left: 12px;
  bottom: 20px;
  right: 12px;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .help .simulator.contain_bg .el {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20px;
  right: 0;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .help + * {
  clear: left;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition {
  padding: 0px 25px 25px 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  background-image: linear-gradient(-150deg, #2c2c36, #272730);
  color: white;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition h6 {
  color: white;
  font-weight: bold;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .o_bg_img_opt_object {
  position: relative;
  background: white;
  min-height: 10px;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0 0 15px 2px #000;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .o_bg_img_opt_object > img {
  cursor: crosshair;
  border-top: 1px solid #5A5A5A;
  border-bottom: 1px solid #111;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .o_bg_img_opt_object:hover .o_focus_point:before {
  opacity: 0.5;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .o_bg_img_opt_ui_info {
  animation: fadeInOut 2s ease forwards;
  position: absolute;
  top: auto;
  left: auto;
  bottom: 1px;
  right: 0;
  display: block;
  padding: 3px 13px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .o_bg_img_opt_ui_info span {
  font-weight: normal;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .o_bg_img_opt_ui_info .o_x {
  margin-right: 10px;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .grid {
  position: absolute;
  top: 33.33%;
  left: 0;
  bottom: auto;
  right: auto;
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(58, 255, 251, 0.5);
  pointer-events: none;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .grid.grid-2 {
  top: 66.66%;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .grid.grid-3 {
  top: 0;
  left: 33.33%;
  width: 1px;
  height: 100%;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .grid.grid-4 {
  top: 0;
  left: 66.66%;
  width: 1px;
  height: 100%;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .o_focus_point {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 100%;
  margin-top: -15px;
  margin-left: -15px;
  box-shadow: 0 0 1px #333;
  pointer-events: none;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .o_focus_point.o_with_transition {
  transition: all 0.2s ease 0s;
}

body .modal .o_bg_img_opt_modal .o_bg_img_opt .o_bg_img_opt_cover_edition .o_focus_point:before {
  pointer-events: none;
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin-top: -37px;
  margin-left: -37px;
  border: 1px solid #EAEAEA;
  background: rgba(247, 76, 76, 0);
  border-radius: 100em;
  opacity: 1;
  box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.33);
  transition: opacity 0.2s ease 0s;
}

body .modal .o_link_dialog .o_link_dialog_color > .o_link_dialog_color_item {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

body .modal .o_link_dialog .o_link_dialog_color > .o_link_dialog_color_item input:checked + i::before {
  content: "\f00c";
  position: absolute;
  top: 6px;
  left: 5px;
  bottom: auto;
  right: auto;
}

body .modal .o_link_dialog .o_link_dialog_color > .o_link_dialog_color_item.btn-link {
  padding: 3px 9px;
}

body .modal .o_link_dialog .o_link_dialog_color > .o_link_dialog_color_item.btn-link > span {
  text-decoration: underline;
}

body .modal .o_link_dialog .o_link_dialog_preview {
  border-left: 1px solid #e9ecef;
}

body .modal .o_crop_image_dialog .o_crop_area {
  height: 350px;
}

body .modal .o_crop_image_dialog .o_crop_area .cropper-point {
  background-color: white;
  transition: all 400ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transform: scale(1.5, 1.5);
  border-radius: 10px;
  box-shadow: 0 0 1px 1px rgba(23, 23, 23, 0.5);
  opacity: 1;
}

body .modal .o_crop_image_dialog .o_crop_area .cropper-point:hover {
  transform: scale(2.5, 2.5);
}

body .modal .o_crop_image_dialog .o_crop_area .cropper-line {
  background: black;
}

body .modal .o_crop_image_dialog .o_crop_area .cropper-view-box {
  outline: 2px solid white;
}

img.o_we_selected_image, .fa.o_we_selected_image::before {
  background: rgba(150, 150, 220, 0.3);
  outline: 3px solid rgba(150, 150, 220, 0.3);
}

