
.o_dashboard_sales h2 {
  padding: 15px;
}

.o_dashboard_sales h4 {
  margin: 3px 0 4px 0 !important;
}

.o_dashboard_sales .o_demo_background {
  margin-top: 16px;
  height: 350px;
  background-size: 100% !important;
  background: url("/website_sale/static/src/img/website_sale_dashboard_sales_demo.png") no-repeat;
  position: relative;
  opacity: 0.2;
}

.o_dashboard_sales .o_demo_message {
  color: #a8a8a8;
  width: 100%;
  position: absolute;
  top: 12%;
  left: 0;
  bottom: auto;
  right: auto;
  display: -webkit-box; display: -webkit-flex; display: flex;
  justify-content: center;
}

.o_dashboard_sales .o_link_enable {
  height: initial;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  .o_dashboard_sales .o_link_enable {
    border-right: 1px solid #ccc;
  }
}

.o_dashboard_sales .o_link_enable a {
  color: #8193a5;
}

.o_dashboard_sales .o_link_enable:hover {
  background-color: #f8f9fa;
}

.o_dashboard_sales .o_link_enable .o_highlight {
  color: #00A09D;
  font-size: 20px;
  font-weight: bold;
}

.o_dashboard_sales .o_link_disable {
  height: initial;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0px;
  color: #8193a5;
}

@media (min-width: 992px) {
  .o_dashboard_sales .o_link_disable {
    border-right: 1px solid #ccc;
  }
}

.o_dashboard_sales .o_link_disable .o_highlight {
  font-size: 20px;
  font-weight: bold;
}

.o_dashboard_sales .o_invisible_border {
  border-right: 0px;
}

.o_dashboard_sales .o_top_margin {
  margin-top: 20px;
}

