
.o_dashboards {
  background-color: #ececec;
}

.o_dashboards .o_website_dashboard {
  background-color: #ececec;
}

.o_dashboards .o_website_dashboard div.o_box {
  color: #a8a8a8;
  background-color: white;
  background-size: cover;
  margin-top: 16px;
  position: static;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.o_dashboards .o_website_dashboard div.o_box::after {
  display: block;
  clear: both;
  content: "";
}

.o_dashboards .o_website_dashboard div.o_box h2, .o_dashboards .o_website_dashboard div.o_box h4 {
  text-transform: uppercase;
  margin-top: 0;
  color: #875A7B;
}

.o_dashboards .o_website_dashboard div.o_box h4 {
  margin: 0 0 0 8px;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7, .o_dashboards .o_website_dashboard div.o_box .col-12 {
  padding: 15px;
  /*------------------------------------------*/
  /*              Chart design                */
  /*------------------------------------------*/
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 .js_field_selection, .o_dashboards .o_website_dashboard div.o_box .col-12 .js_field_selection {
  width: 30%;
  margin: 0 0 20px 0;
  float: right;
  border-radius: 0;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 .table-responsive, .o_dashboards .o_website_dashboard div.o_box .col-12 .table-responsive {
  border: none;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 table tr:first-child, .o_dashboards .o_website_dashboard div.o_box .col-12 table tr:first-child {
  background: white;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 table tr:nth-child(even):not(:hover), .o_dashboards .o_website_dashboard div.o_box .col-12 table tr:nth-child(even):not(:hover) {
  background: #f5f6f7;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 table th, .o_dashboards .o_website_dashboard div.o_box .col-12 table th {
  text-transform: uppercase;
  color: #666666;
  border-top-width: 0px;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 table td, .o_dashboards .o_website_dashboard div.o_box .col-lg-7 table th, .o_dashboards .o_website_dashboard div.o_box .col-12 table td, .o_dashboards .o_website_dashboard div.o_box .col-12 table th {
  text-align: right;
  border-left: none;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 table td:first-child, .o_dashboards .o_website_dashboard div.o_box .col-lg-7 table th:first-child, .o_dashboards .o_website_dashboard div.o_box .col-12 table td:first-child, .o_dashboards .o_website_dashboard div.o_box .col-12 table th:first-child {
  text-align: left;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 table .o_tooltip_key, .o_dashboards .o_website_dashboard div.o_box .col-12 table .o_tooltip_key {
  text-align: left;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 .gapi-analytics-data-chart svg g path, .o_dashboards .o_website_dashboard div.o_box .col-lg-7 svg [class*="nv-series-"], .o_dashboards .o_website_dashboard div.o_box .col-12 .gapi-analytics-data-chart svg g path, .o_dashboards .o_website_dashboard div.o_box .col-12 svg [class*="nv-series-"] {
  stroke: #a8a8a8 !important;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 svg, .o_dashboards .o_website_dashboard div.o_box .col-12 svg {
  padding-top: 2px;
  float: left;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 svg g.nvd3.nv-wrap.nv-lineChart, .o_dashboards .o_website_dashboard div.o_box .col-12 svg g.nvd3.nv-wrap.nv-lineChart {
  transform: translate(45, 30);
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 svg g.nv-x.nv-axis .tick > line, .o_dashboards .o_website_dashboard div.o_box .col-12 svg g.nv-x.nv-axis .tick > line {
  opacity: 0 !important;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 svg .nv-groups .nv-series-0, .o_dashboards .o_website_dashboard div.o_box .col-12 svg .nv-groups .nv-series-0 {
  stroke-width: 3 !important;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 svg .nv-groups .nv-series-0 .nv-point, .o_dashboards .o_website_dashboard div.o_box .col-12 svg .nv-groups .nv-series-0 .nv-point {
  stroke: #00A09D;
  stroke-opacity: 1 !important;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 svg .nv-groups .nv-series-0 .nv-point.hover, .o_dashboards .o_website_dashboard div.o_box .col-12 svg .nv-groups .nv-series-0 .nv-point.hover {
  stroke: #006d6b;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 svg .nv-groups .nv-series-1 .nv-point, .o_dashboards .o_website_dashboard div.o_box .col-12 svg .nv-groups .nv-series-1 .nv-point {
  stroke: #a8a8a8 !important;
  stroke-opacity: 1 !important;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 svg .nv-groups .nv-series-1 .nv-point.hover, .o_dashboards .o_website_dashboard div.o_box .col-12 svg .nv-groups .nv-series-1 .nv-point.hover {
  stroke: #8f8e8e;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 .nvtooltip, .o_dashboards .o_website_dashboard div.o_box .col-12 .nvtooltip {
  border-radius: 0;
  border: 1px solid #e9ecef;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 .nvtooltip .legend-color-guide > div, .o_dashboards .o_website_dashboard div.o_box .col-12 .nvtooltip .legend-color-guide > div {
  border: none;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 .nvtooltip tr:first-child .legend-color-guide > div, .o_dashboards .o_website_dashboard div.o_box .col-12 .nvtooltip tr:first-child .legend-color-guide > div {
  background-color: #00A09D !important;
}

.o_dashboards .o_website_dashboard div.o_box .col-lg-7 .nvtooltip tr:last-child .legend-color-guide > div, .o_dashboards .o_website_dashboard div.o_box .col-12 .nvtooltip tr:last-child .legend-color-guide > div {
  background-color: #dae0e5 !important;
}

.o_dashboards .o_website_dashboard .o_dashboard_common .o_box {
  display: -webkit-box; display: -webkit-flex; display: flex;
  -webkit-flex-flow: row wrap; flex-flow: row wrap;
  -webkit-box-pack: start; justify-content: flex-start;
}

@media (max-width: 767.98px) {
  .o_dashboards .o_website_dashboard .o_dashboard_common .o_box > .o_inner_box {
    flex: 1 1 200px;
    display: block !important;
  }
}

@media (min-width: 768px) {
  .o_dashboards .o_website_dashboard .o_dashboard_common .o_box > .o_inner_box {
    flex: 0 0 16.6%;
  }
}

.o_dashboards .o_website_dashboard .o_dashboard_common .o_inner_box {
  padding-top: 10px;
  text-align: center;
  border: 1px solid white;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  background-color: #00A09D;
}

.o_dashboards .o_website_dashboard .o_dashboard_common .o_inner_box:hover {
  background-color: #006d6b;
}

.o_dashboards .o_website_dashboard .o_dashboard_common .o_inner_box.o_primary {
  background-color: #875A7B;
  color: white;
}

.o_dashboards .o_website_dashboard .o_dashboard_common .o_inner_box.o_primary:hover {
  background-color: #68465f;
}

.o_dashboards .o_website_dashboard .o_dashboard_common .o_inner_box .o_highlight {
  font-size: 27px;
}

.o_dashboards .o_website_dashboard .o_graph_sales {
  direction: ltr/*rtl:ignore*/;
}

.o_dashboards .o_website_dashboard .o_graph_sales .o_legend0 {
  background-color: #00A09D;
}

.o_dashboards .o_website_dashboard .o_graph_sales .o_legend1 {
  background-color: #a8a8a8;
}

.o_dashboards .o_website_dashboard .o_dashboard_visits h2 {
  padding: 15px;
}

.o_dashboards .o_website_dashboard .o_dashboard_visits .o_demo_background {
  margin-top: 16px;
  height: 300px;
  background-size: 100% !important;
  background: url("/website/static/src/img/website_dashboard_visit_demo.png") no-repeat;
  position: relative;
}

.o_dashboards .o_website_dashboard .o_dashboard_visits .o_demo_background .o_buttons {
  position: relative;
}

.o_dashboards .o_website_dashboard .o_dashboard_visits .o_demo_background .o_buttons > button {
  display: block;
}

.o_dashboards .o_website_dashboard .o_dashboard_visits .o_demo_background .o_layer {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.o_dashboards .o_website_dashboard .o_dashboard_visits .o_properties_selection {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .o_dashboards .o_website_dashboard .o_dashboard_visits .o_properties_selection {
    display: -webkit-box; display: -webkit-flex; display: flex;
  }
}

.o_dashboards .o_website_dashboard .o_dashboard_visits .gapi-analytics-auth-styles-signinbutton {
  cursor: pointer;
}

.o_dashboards .o_website_dashboard .o_dashboard_visits .ActiveUsers {
  position: relative;
  float: right;
  top: -60px;
  right: 10px;
  border: 1px solid #e9ecef;
  font-weight: 300;
  white-space: nowrap;
  padding: .5em 1.5em;
  margin: .5em;
  text-transform: uppercase;
}

.o_dashboards .o_website_dashboard .o_dashboard_visits .ActiveUsers-value {
  font-weight: 300;
  margin-right: -.25em;
}

.o_dashboards .o_website_dashboard .o_dashboard_visits .ActiveUsers.is-increasing {
  animation: increase 3s;
}

.o_dashboards .o_website_dashboard .o_dashboard_visits .ActiveUsers.is-decreasing {
  animation: decrease 3s;
}

@keyframes increase {
  10% {
    background-color: #3afffb;
    border-color: #00A09D;
    color: #00A09D;
  }
}

@keyframes decrease {
  10% {
    background-color: #3afffb;
    border-color: #00A09D;
    color: #00A09D;
  }
}

.o_dashboards .o_website_dashboard tr.o_product_template {
  cursor: pointer;
  color: #666666;
}

.o_dashboards .o_website_dashboard .o_loader {
  text-align: center;
  width: 100%;
  height: 20em;
}

